<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Check the Weather!</h1>
        <form action="/city" method="post">

            <input type="text" class="form-submit" name="city" id="cityInput" placeholder="Enter Name of City">
            <button type="submit" class="form-submit" id="city-submit">Submit</button>
            


        </form>

    </div>

</body>
</html>